body {
    background-color:#fafafa;
 
    background-repeat: no-repeat;
    background-size:100%;
}
span {
    background-color: red;
}
h1 {
    text-align: center;
    background-color:#1d8ee4;

}
div {
    text-align: left;
    margin-top:15px;
    background-position-x: center;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 55%;;

}
.form {
    background-color: white !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  
    border-style: solid;
    border-color:#e1e2e3;
    border-width: thin;

}
input {
    display: block;
margin-left: auto;
margin-right:auto;;

    width: 80%;
    height: 30px;;
    font-size: medium;
    
}

label {
display: block;

font-size:x-large;
padding-top:15px;


margin-left: 10%;


  
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    width: 50%;
    border-color: white  !important;
}
a {
    display: block;
    text-align: center;
    font-size: x-large;
    margin-top:15px;
    

}

button  {
display: block;
background-color:  #1d8ee4;
border:none;
border-radius: 12px;;
  margin-top:15px;
  width:50%;
  height: 50px;
  font-size: x-large;
  margin-left: 15px;;
  margin-left: auto;
  margin-right: auto;
  text-emphasis-color: white;
  cursor: pointer;
}