body {
    background-color:#fafafa;
 
    background-repeat: no-repeat;
    background-size:100%;
}

h1 {
    text-align: center;
    background-color:#1d8ee4;

}
div {
    text-align: left;
    margin-top:15px;
    background-position-x: center;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 70%;;

}
.form {
    background-color: white !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32.5%;
  
    border-style: solid;
    border-color:#e1e2e3;
    border-width: thin;

}
input {
    display: block;
margin-left: auto;
margin-right:auto;;
margin-top:15px;
    width: 500px;
    height: 50px;;
    font-size: large;
    border-color:#e1e2e3;;
    
}




img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom: 30px;;
    width: 50%;
    border-color: white  !important;
}
a {
    display: block;
    text-align: center;
    font-size: medium;
    margin-top:15px;
    cursor: pointer;
    text-decoration: underline;
    color: #1d8ee4;
}

button  {
display: block;
background-color:  #1d8ee4;
border:none;
border-radius: 12px;;
  margin-top:30px;
  width:50%;
  height: 50px;
  font-size: x-large;
  margin-left: 15px;;
  margin-left: auto;
  margin-right: auto;
  text-emphasis-color: white;
  cursor: pointer;
  color:white;
}


button:hover {

color:black;



}

a:hover {
    color:black;
}