doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Add Exercise
    link(rel='stylesheet' href='stylesheets/post.css')
    script(type='text/javascript' src='javascripts/links.js')
    script(type='text/javascript' src='javascripts/workout.js')

.topBar
    img.headerLogo(src='images/logoWhite.png')
    button.logoutBtn(onclick="logout()") Log Out
.leftTab
    button.homeBtn Home
    br
    button.exploreBtn Explore
    br
    button.exploreBtn(onclick="profile()") Profile
.rightTab(class="center")
    h1()=workoutName
    p Add an Exercise
    div(class='box')
        form(action='/Exercise/',method='POST', enctype="multipart/form-data", class="exForm")
            div(class='left')
                label(class='selectLabel') Exercise:
                select.exercise(name='exercise',class='exercise', onchange='exerciseName()')
                    for l in exercises 
                        option=l

                br
                br
                label.weightLabel Weight (lbs)
                label.setsLabel Sets
                label.repsLabel Reps

                br
                b(class='exerciseLabel',name='liftLabel') Bench Press
                input.workoutWeight(name='weight' type='number')
                input.workoutSets(name='sets' type='number')
                input.workoutReps(name='reps' type='number')
                br
                br
                br
                input#video(type="file"  accept="video/* "  name='video' class="file")

                br
                br
                hr
                br
            button#add(onclick="addAnotherExercise()") Add Another Exercise
            input#invisible(type='text', name="button", class="button")
            input#complete(type='submit', value="Complete Workout")
    div(class="rightBox")
      h2(class="blue") Exercises Added: 
      for y in refresh 
        b=y.Name

