doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Log in
  link(rel='stylesheet', href='stylesheets/signup.css')
  script(type='text/javascript', src='javascripts/links.js')
form(action='/submitform/', method='POST')
  .form
    img(src='/images/logo.png')
    input#first(type='text', placeholder='Full Name', name='name', maxLength='25', required pattern="[a-zA-Z]*", title="hi luke")
    input(type='username', placeholder='Username', name='user', maxLength='25', required="required")
    input(type='password', placeholder='Password' name='pass', maxLength='25', required="required")
    input(class='signUp', type='submit', value='Sign Up')