doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Log in
  link(rel='stylesheet', href='stylesheets/login.css')
  script(type='text/javascript', src='javascripts/links.js')
form(action='/submitform/', method='POST')
  .form
    img(src='/images/logo.png')
    input(type='text', placeholder='Full Name', name='name')
    input(type='username', placeholder='Username', name='user')
    input(type='password', placeholder='Password' name='pass')
    input(class='signUp', type='submit', value='Sign Up')
