doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Log in
  link(rel='stylesheet', href='stylesheets/signup.css')
  script(type='text/javascript', src='javascripts/links.js')

.columnLeft
  h1.welcomeText Already have an account?
  p.p1Text Click the button below and enter your login credentials
  a.loginBtn(onclick='index()') Log In
.columnRight
  h1.signUpHeader Create FitFriends Account
  .form
    form(action='/submitform/', method='POST')
        img.logoImg(src='images/logo.png')
        input#first(type='text', placeholder='Full Name', name='name')
        input#username(type='username', placeholder='Username', name='user')
        input#password(type='password', placeholder='Password' name='pass')
        input(class='signUp', type='submit', value='Sign Up')
        a.loginLink(onclick='') Already have an account? Log in
