doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Log in
  link(rel='stylesheet' href='stylesheets/login.css')
  script(type='text/javascript' src='javascripts/links.js')
  script(type='text/javascript' src='javascripts/signUp.js')
  script(type='module' src='script.js')
 
.form
  img(src='/images/logo.png')
  input#full(type='text' placeholder='Full Name')
  input#user(type='username' placeholder='Username')
  input#pass(type='password' placeholder='Password')
  button.login(onclick='')
    | Sign Up
    span
