doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Log in
  link(rel='stylesheet' href='stylesheets/login.css')
  script(type='text/javascript' src='javascripts/links.js')
.form
  img(src='/images/logo.png')
  input#first(type='text' placeholder='Full Name')
  input#last(type='username' placeholder='Username')
  input#last(type='password' placeholder='Password')
  button.login(onclick='feed()')
    | Sign Up
    span
