doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width = device-width, initial-scale = 1')
  title Log in
  link(rel='stylesheet' href='stylesheets/login.css')
  script(type='text/javascript' src='javascripts/links.js')
img(src=pic)


select
  for l in cardio 
    option=l


select
  for l in lifts 
    option=l