doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Profile Page
  link(rel='stylesheet' href='stylesheets/post.css')
  script(type='text/javascript' src='javascripts/links.js')
  script(type='text/javascript' src='javascripts/workout.js')
.topBar
  img.headerLogo(src='images/logoWhite.png')
  button.postBtn + Post
  button.logoutBtn Log Out
.leftTab
  button.homeBtn Home
  br
  button.exploreBtn Explore
  br
  button.exploreBtn Profile
  br
  button.settingsBtn Settings
  br
.rightTab
  form(action='/addWorkout/' method='POST')
    h1 Add Workout
    h4 Workout Name:
    input.workoutName(name='workoutName' type='text')
    br
    h4 Caption:
    input.workoutCaption(name='workoutCaption' type='text')
    br
    br
    input(type='submit', value="Next") 
