doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Add Workout
  link(rel='stylesheet' href='stylesheets/post.css')
  script(type='text/javascript' src='javascripts/links.js')
  script(type='text/javascript' src='javascripts/workout.js')
  link(rel='icon' href='images/logoWhite.png')

.topBar
  img.headerLogo(src='images/logoWhite.png')
  form(action='/logout/', method='POST' enctype="multipart/form-data" class="logoutForm")
    button.logoutBtn(onclick="logout()") Log Out
.leftTab
  button.homeBtn(onclick="home()") Home
  br
  button.exploreBtn(onclick="explore()") Explore
  br
  button.exploreBtn(onclick="profile()") Profile
  br
.rightTab
  form(action='/addWorkout/' method='POST')
    h1(class="title") Add Workout
    p(class="title") Give your workout a name and caption
    div(class="box")
      h4(class="header") Workout Name
      input.workoutName(name='workoutName' type='text')
      br
      h4(class="header", id="caption") Caption
      input.workoutCaption(name='workoutCaption' type='text')
      br
      br
      input#next(type='submit', value="Next") 

