doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Profile Page
    link(rel='stylesheet' href='stylesheets/post.css')
    script(type='text/javascript' src='javascripts/links.js')
    script(type='text/javascript' src='javascripts/workout.js')

.topBar
    img.headerLogo(src='images/logoWhite.png')
    button.postBtn + Post
    button.logoutBtn Log Out
.leftTab
    button.homeBtn Home
    br
    button.exploreBtn Explore
    br
    button.exploreBtn Profile
    br
    button.settingsBtn Settings
    br
.rightTab
    form(action='/post/',method='POST')
        h1 Add a Workout
        h4 Name of Workout:
        input.workoutName(name='workoutName' type='text')
        br
        h4 Add Caption:
        input.workoutCaption(name='workoutCaption' type='text')
        br
        br
        hr
        br
        h4 Add an Exercise:
        label Exercise:
        select.exercise(name='exercise',class='exercise', onchange='exerciseName()')
            for l in exercises 
                option=l
        
        br
        br
        label.setsLabel Sets
        label.repsLabel Reps
        label.weightLabel Weight (lbs)
        br
        b(class='exerciseLabel',name='liftLabel') Bench Press
        input.workoutSets(name='sets' type='number')
        input.workoutReps(name='reps' type='number')
        input.workoutWeight(name='weight' type='number')
        br
        br
     
           
        br
        hr
        
    
      
        input(type='submit')
