body {
    background-color:#fafafa;
    background-size:100%;
}
.loginForm {
    text-align: left;
    margin-top: 125px;
    padding-bottom: 45px;
    height: 55%;
    min-width: 325px;
    max-width: 25%;
    background-color: white !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color:#e1e2e3;
    border-width: thin;
}
.signupLink {
    visibility: visible;
}
.columnLeft {
    height: 100%;
    width: 70%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color:#fafafa;
}
.columnRight {
    height: 100%;
    width: 40%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color: #29abe2;
}
@media screen and (max-width:900px), screen and (max-height:500px) {
    .columnRight { 
        display: none;
    }
    .columnLeft { 
        display: block; visibility: visible; 
        width: 100%;
    }
    .signupLink {
        visibility: visible;
    }
}
input {
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top:15px;
    height: 35px;
    width: 75%;
    font-size: medium;
    border-color:#e1e2e3;
}
.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom: 5px;
    width: 35%;
    border-color: white  !important;
}
.signupLink {
    display: block;
    text-align: center;
    font-size: medium;
    margin-top:15px;
    cursor: pointer;
    text-decoration: underline;
    color: #29abe2;
}
.loginBtn  {
    display: block;
    background-color:  #29abe2;
    border:none;
    border-radius: 12px;;
    margin-top:30px;
    width:50%;
    height: 50px;
    font-size: x-large;
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-emphasis-color: white;
    cursor: pointer;
    color:white;
}
.login:hover {
    color:black;
}
.signupLink:hover {
    color:black;
}
#username {
    margin-top:-15px !important;
}
#first {
    margin-top:-15px !important;
}
.welcomeText {
    color: white;
    font-size: 300%;
    text-align: center;
    margin-top: 45%;
}
.p1Text {
    color:#fafafa;
    text-align: center;
}