body {
    background-color:#fafafa;
    background-size:100%;
    margin: auto;
}
.loginForm {
    text-align: left;
    padding-bottom: 45px;
    height: 55%;
    min-width: 325px;
    max-width: 50%;
    display: block;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.loginHeader {
    text-align: center;
    margin-top: 50px;
    font-size: 275%;
}
.loginBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex; 
    justify-content: center;
    width: 150px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right: 25px;
    border: 2px solid white;
    border-radius:28px;
    background-color: #29abe2;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    cursor: pointer;
}
.loginBtn:hover{
    border: 2px solid #29abe2;
    background-color: white;
    color: #29abe2;
}
@media all and (max-width:30em){
    .loginBtn{
    display:block;
    margin:0.2em auto;
    }
}
.signupBtn {
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: center;
    width: 150px;
    padding-top:12px;
    padding-bottom:12px;
    border:2px solid white;
    border-radius:28px;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    cursor: pointer;
}
.signupBtn:hover{
    border-color: rgba(255,255,255,1);
    background-color: white;
    color: #29abe2;
}
@media all and (max-width:30em){
    .signupBtn{
    display:block;
    margin:0.2em auto;
    }
}
.signupLink {
    visibility: hidden;
}
.columnLeft {
    height: 100%;
    width: 65%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color:#fafafa;
}
.columnRight {
    height: 100%;
    width: 35%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color: #29abe2;
}
@media screen and (max-width:900px), screen and (max-height:500px) {
    .columnRight { 
        display: none;
    }
    .columnLeft { 
        display: block; visibility: visible; 
        width: 100%;
    }
    .signupLink {
        visibility: visible;
    }
}
@media screen and (max-height:700px) {
    .columnLeft { 
        zoom: 80%;
    }
    .columnRight { 
        zoom: 80%;
    }
}
.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-color: white  !important;
}
.signupLink {
    display: block;
    text-align: center;
    font-size: medium;
    margin-top:15px;
    cursor: pointer;
    text-decoration: underline;
    color: #29abe2;
}
.login:hover {
    color:black;
}
.signupLink:hover {
    color:black;
}
#username, #password {
    margin-top:25px !important;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top:15px;
    height: 40px;
    width: 80%;
    font-size: medium;
    border-color:#e1e2e3;
}
.welcomeText {
    color: white;
    font-size: 275%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
    width: 400px;
}
.p1Text {
    color:#fafafa;
    display: block;
    text-align: center;
    justify-content: center;
    width: 75%;
    font-size: 18px;
    margin: auto;
    margin-bottom: 40px;
}
