html {
    height: 100%;
    margin-left: -8px;
    margin-top: -8px;
}
body {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}
.topBar {
    width: 100%;
    height: 90px;
    background: #3FB4E5;
    border-bottom: 1px solid #A7A7A7;
}
.leftTab {
    float: left;
    width: 19.9%;
    height: 100%;
    background-color: white;
    border-right: 1px solid #A7A7A7;
}
.homeBtn {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
}
.homeBtn:hover {
    background-color: #3FB4E5;      /* blue fitfriends */
    color: white;
    cursor: pointer;
}
.exploreBtn {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
}
.exploreBtn:hover {
    background-color: #3FB4E5;
    color: white;
    cursor: pointer;
}
.profileBtn {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
}
.profileBtn:hover {
    background-color: #3FB4E5;
    color: white;
    cursor: pointer;
}
.settingsBtn {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.settingsBtn:hover {
    background-color: #3FB4E5;
    color: white;
}
.rightTab {
    float: right;
    width: 79.99%;
    height: 100%;
    background-color: white;
}
.headerLogo {
    float: left;
    width: 60px;
    height: 80px;
    margin-left: 8%;
    margin-top: 10px;
    position: static;
}
.postBtn {
    margin-left: 65%;
    margin-top: 24px;
    width: 100px; 
    height: 40px;
    border: 0px solid black;
    border-radius: 30px;
    background-color: white;
    color: #3FB4E5;
    font-size: 20px;
}
.postBtn:hover {
    cursor: pointer;
    background-color: #3FB4E5;
    color: white;
    border: 2px solid white;
}

.logoutBtn {
    font-size: 20px;
    float: right;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 26px;
    margin-top: 23px;
    margin-right: 5%;
    width: 100px;
    height: 40px;
    color: white;
}
.logoutBtn:hover {
    cursor: pointer;
    background-color: white;
    color: #3FB4E5
}
.workoutSets {
    width: 50px;
}
.workoutReps {
    width: 50px;
}
.workoutWeight {
    width: 75px;
}
.setsLabel {
    margin-left: 135px;
    display: inline-block;
}
.repsLabel {
    padding-left: 30px;
    display: inline-block;
}
.weightLabel {
    
    padding-left: 15px;
    display: inline-block;
}

#invisible {
    display: none;;
}
.pointer {
    cursor: pointer;;
}
.title {
    text-align: center;
    margin-top:40px;

}
.box {
    background-color:#3FB4E5 ;
    width:30%;
    margin:auto;
    padding-top:30px;
    padding-bottom: 30px;;
    padding-left: 50px;
    padding-right: 50px;
    margin-top:60px;
    border-radius: 14px;
    text-align: center;
}

.box input[type='text'] {
    width:200px;
    height:25px;

    border-radius: 6px;;
    border: #DDDD;

}


#next {
   margin-top:50px;
   
  
    width: 100px; 
    height: 40px;
    border: 0px solid black;
    border-radius: 30px;
    background-color: white;
    color: #3FB4E5;
    font-size: 20px;
    margin-bottom:20px;

}
#next:hover {
    cursor: pointer;
    background-color: #3FB4E5;
    color: white;
    border: 2px solid white;

} 

.center {
    text-align: center;
}
.wNameTitle {
    color:#3FB4E5;
}


#complete {
    margin-top:50px;
    
   
     width: 200px; 
     height: 40px;
     border: 0px solid black;
     border-radius: 30px;
     background-color: rgb(94, 245, 162);
     color: #3FB4E5;
     font-size: 15px;
     margin-bottom:20px;
     
 
 }
 #complete:hover {
     cursor: pointer;
     background-color: rgb(94, 245, 162);
     color: white;
     border: 2px solid white;
 
 } 

 #add {
    margin-top:50px;
    margin-right:15px;
   
     width: 200px; 
     height: 40px;
     border: 0px solid black;
     border-radius: 30px;
     background-color: white;
     color: #3FB4E5;
     font-size: 15px;
     margin-bottom:20px;
 
 }
 #add:hover {
     cursor: pointer;
     background-color: #3FB4E5;
     color: white;
     border: 2px solid white;
 
 } 


 .selectLabel {
    font-weight: bold;
    margin-right:35px;
 }

 .left {

    text-align: left;
 }

 label {


    margin-right:15px;
 }
 .exerciseLabel {
     margin-right:15px;
 }

 .workoutWeight {
     margin-right:15px;
 }
 .workoutSets {
    margin-right:15px;
 }

 .workoutReps {
    margin-right:15px;
 }
 .weightLabel {
    margin-left:80px;
    margin-right:-110px;
 }




 .focusVid {
  text-align: center;
 }


 .info {
     margin-right:425px;
     margin-bottom:-40px;
 }
 
 .dateInfo {
    margin-left:445px;
    margin-bottom:-10px;
}


video {
    width:600px;
    height:400px;
    object-fit: cover;
}


.parent {

    display: inline-block;
    
}



.pointer {
    display: block;
    
    border: 3px solid white;
    background-color: #3FB4E5;
    border-radius: 8px;
    width: 130px;
    height: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.pointer:hover {
    cursor: pointer;
    
    height: 55px;
    width: 135px;
}




.parent {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  
   text-align: center;
   width:600px;
   grid-column-gap: 15px;

   margin-left:470px;
    
}

.grid-content {

    height:200px;
    width:135px;
    

}
 
.rightBox {
    width:50%;
    margin-left:60%;
    margin-top:-375px;

 

}

.rightBox > b {
    margin-right:90px;
    display: block;
    margin-left:300px;
    text-align: left;
    color:#3FB4E5;
}

.blue {
    color:#3FB4E5;
}

.header {
 
    margin-bottom:5px;
    color:white;
}

#caption {

}


.workoutName {
    width:300px!important;
}
.workoutCaption {
    width:300px!important;

}